<ul class="list-group">
  <li [class] = getAllInMenuClass() routerLink="/products" > All Products </li>
  <li (click)= "setCurrentCategory(category)" 
  routerLink="products/category/{{category.categoryID}}"  
  *ngFor="let category of categories" 
  class="list-group-item" >{{category.categoryName}}</li>
</ul>

<h5 *ngIf="currentCategory">{{currentCategory.categoryName}}</h5> <!-- anasayfa başlatıldığında currentCategory içeriği boş olduğu için, html
  menü kısmını topluyor ve verileri göstermiyordu. Biz de eğer currentCategory içeriği doluysa(anasayfada bir category ye tıklandıysa)
  ekrana yazdırma işlemini gerçekleştirdik komutu verdik. -->
