<!-- <table class="table">
  Css te table formatıdır
  <thead>
    <tr>
      <th style="text-align:center">ProductID</th>
      <th style="text-align:center">Product Name</th>
      <th style="text-align:center">CategoryID</th>
      <th style="text-align:center">Unit Price</th>
      <th style="text-align:center">Units In Stock</th>
    </tr>
  </thead>

  <tr *ngFor="let product of products">
    <td style="text-align:center">{{ product.productID }}</td>
    <td style="text-align:center">{{ product.productName }}</td>
    <td style="text-align:center">{{ product.categoryID }}</td>
    <td style="text-align:center">{{ product.unitPrice }}</td>
    <td style="text-align:center">{{ product.unitsInStock }}</td>
  </tr>
</table> -->

<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-success"
  role="status"
>
  <!-- Veri gelene kadar spinner ı döndürür. -->
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3" *ngIf="products">
  <label for="exampleFormControlInput1" class="form-label"
    ><b>Search to Product :</b></label>

  <!--[(ngModel)] -> Çift yönlü binding, hem input tarafında hem component tarafında değişir.input->component, component-> input--> 
  <input
    type="text"
    class="form-control"
    id="filterText"
    [(ngModel)] = "filterText"     
    placeholder="please enter the product you want to search..."
  />
</div>
<div>
  {{filterText}}  <!-- Tek yönlü binding, yani yalnızca component.ts tarafında değiştirilebilir. -->
</div>

<table *ngIf="dataLoaded == true" class="table">
  <!-- Css te table formatıdır. Veri gelene kadar başlıkları göstermesini istemediğimiz için, veri geldiği zaman başlık getirmesini söyledik -->
  <thead>
    <tr>
      <th scope="col">ProductID</th>
      <th scope="col">Product Name</th>
      <th scope="col">CategoryID</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Unit Price(VAT)</th>
      <th scope="col">Units In Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | productFilter:filterText">
      <td>{{ product.productID }}</td>
      <td>{{ product.productName | uppercase }}</td>
      <td>{{ product.categoryID }}</td>
      <td>{{ product.unitPrice | currency: "USD":true:"1.2-2" }}</td>
      <!-- 1.2-2 virgülden sonra iki basamak gösterecek -->
      <td>{{ product.unitPrice | vatAdded: 10 | currency: "USD":true:"1.2-2" }} </td>      
      <td>{{ product.unitsInStock }}</td>
      <td><button (click)="addToCart(product)" type="button" class="btn btn-success">Add To Cart</button></td>
    </tr>
  </tbody>
</table>
