<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Cart
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" *ngFor="let cartItem of cartItems">
      <span class="badge bg-success">  {{cartItem.quantity}}  </span>
      {{cartItem.product.productName}}
      <span class="badge bg-success" (click)= "removeFromCart(cartItem.product)">Del</span></a></li>
    <li><a class="dropdown-item"></a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item">Go to Cart</a></li>
  </ul>
</li>
